<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="intermediate-lesson-part-inside">2</div>
<h1 class="intermediatemajorheading">Bar Chords</h1>
<img src="../static/Image/shape of bar chords.jpg"
     th:src="@{Image/shape of bar chords.jpg}"/>
<p class="descriptionfretboard">
    <b> Bar chords </b>are the chords in which numerous strings are pressed down on a single fret on the fingerboard.
    They are not simple because one finger presses all the six string in a single fret. So, to master in the bar
    chord, it takes time.
    <br/>
    <b>There are 4 basic shape of bar chords.</b> First is <b>E-Shape</b>.
    When we shift the E chord to the 2nd fret and also make a bar at first fret. Then that makes
    F bar major chord. While shifting to the next fret the chord changes chromatically. This formation of chords of the shame shapes
    by moving the fret position is also called as <b>Movable Chords.</b>
    When the bar was at 0 fret, it was E chord. When bar came at first fret, It became F chord. And when the bar
    is kept in 2nd fret it becomes F# chord. Then again going down one fret becomes G#, A, A#... and so on.
</p>
<p class="notecontinued">
    Similary is for the other shape. <b>E Minor Shape</b>.All the chords will be minor chords. When we put the bar at 0 fret, then it is the simple e minor.
    But when the bar is kept in first fret, the chord becomes fminor. Then again going down one fret becomes F#m, Gm, G#m, Am, A#m and so on.
    <br/>
    <br/>
    <b>A Major Shape</b>. All the chords will be major chords. When we put the bar at 0 fret, then it is the simple A major chord.
    But when the bar is kept in first fret, the chord becomes A sharp (A#). Then coming down one fret becomes B, C, C#, D, D#, E and so on.
    Many beginners play the bar with a finger and use only one finger to play the 3 strings. See below: But as a new to bar, I suggest to go with 3 fingers.
    But keep on practicing.
    <br/>
    <br/>
    <b>A Minor Shape</b>. All the chords will be minor chords. When we put the bar at 0 fret, then it is the simple A minor chord.
    But when the bar is kept in first fret, the chord becomes A sharp minor (A#m). Then again going down one fret becomes Bm, Cm, C#m, Dm, D#m, Em and so on.
</p>
<img class="gbarchord" src="../static/Image/G bar chord 3.jpg"
     th:src="@{Image/G bar chord.jpg}" alt="" height="250" width="350"/>
<img class="gbarchord" src="../static/Image/c bar chord.jpg"
     th:src="@{Image/c bar chord.jpg}" alt="" height="250" width="350"/>

<h1 class="whynote">How to Practice?</h1>
<ol class="pracbar">
    <li>When it comes to index finger placement, you want to go as near to the fret as possible. You'll get a muddy sound if you play too close to the middle or rear of your fret. It will take some practice to strike this position every time you go for a bar, but if you practice regularly, your aim will become true. </li>
    <li> Make sure your finger isn't curved too much. You'll mute a few notes if you apply unequal pressure to the strings, so be careful how you place your finger on the fretboard. Make a mental note of any wrinkles you have a proclivity for, and then make an attempt to "iron out" those kinks. </li>
    <li>
        As for your thumb, you'll want to place this behind the neck of the guitar, pushing up to help clamp down on the neck.
    </li>

</ol>
</div>
</body>
</html>