<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="intermediate-lesson-part-inside">4</div>
    <h1 class="intermediatemajorheading">Explore More Chords</h1>
    <img class="caged" src="../static/Image/CagedSystemchor.jpg"
         th:src="@{Image/CagedSystemchor.jpg}" width="600" height="800" />
    <p class="cagedsystempara">We need to learn a lot of chords. Learning major minor bar is not only enough. This is where the CAGED System comes in. CAGED stands for C, A, G, E, and D, and is also known as the 5-pattern scheme. Every beginner learns these five chords straight immediately, and the CAGED System is based on the premise that these five fundamental chord forms can be repeated all over the neck to create any chord in any key.


        The form of the other chords may be used to play each of these five chords in the open position all across the neck. The <b>"A"</b> form, for example, may be used to play a <b>"C"</b> chord in the open position in the third position. The <b>"G"</b> form can also be used in the fifth position, the <b>"E" </b> shape in the eighth position, and the <b> "D"</b> shape in the tenth or twelveth position.
        <br/>
        <br/>
        The CAGED System is important because it provides a road map for the guitar player to navigate the neck and lends order to the enigmatic fretboard structure. If a learner can master these five basic major chords, it will make all of the chords easier to remember.

        Rather than attempting to learn, much alone recall, hundreds of chord variations, just a few patterns that can be repeated up and down the neck are required. It makes the learning process a lot easier.</p>

    <h1 class="chordtype">Types of Chords.</h1>
    <ol class="chordtypeinisde">
        <li> Major Chords (Already Learnerd)</li>
        <li> Minor Chords (Already Learnerd)</li>
        <li> Dominant 7th chords</li>
        <li> Open Major 7th chords</li>
        <li>
            Minor 7th chords
        </li>
        <li>
            Sus2 chords
        </li>
        <li>
            Sus4 chords
        </li>
        <li>
            Add9 chords
        </li>
    </ol>
    <div class="exploremorechordsslideshow">
        <img class="chordsSlides" src="../static/Image/Dominant 7th chord.jpg"
             th:src="@{Image/Dominant 7th chord.jpg}" />
        <img class="chordsSlides" src="../static/Image/Major 7th chords.jpg"
             th:src="@{Image/Major 7th chords.jpg}" />
        <img class="chordsSlides" src="../static/Image/Minor 7th chords.jpg"
             th:src="@{Image/Minor 7th chords.jpg}" />
        <img class="chordsSlides" src="../static/Image/Sus 2.jpg"
             th:src="@{Image/Sus 2.jpg}" />
        <img class="chordsSlides" src="../static/Image/Sus 4 chords.jpg"
             th:src="@{Image/Sus 4 chords.jpg}" />
        <img class="chordsSlides" src="../static/Image/Add9 chords.jpg"
             th:src="@{Image/Add9 chords.jpg}" />
    </div>

    <button class="morechordsleft" onclick="plusDivsExploreMore(-1)">
        &#10094;
    </button>
    <button class="morechordsright" onclick="plusDivsExploreMore(+1)">
        &#10095;
    </button>

</div>
</body>
</html>