<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="intermediate-lesson-part-inside">1</div>
<h1 class="intermediatemajorheading">Know the Fretboard</h1>
<img src="../static/Image/Guitar Notes.jpg"
     th:src="@{Image/Guitar Notes.jpg}"/>
<p class="descriptionfretboard">
    In classical Western music theory, the <b> 'Chromatic Scale' </b>simply refers to each of the 12 accessible notes. The scale is written as follows, beginning with a C note:
    <br/>
    <b>C – C#/Db – D – D#/Eb – E – F – F#/Gb – G – G#/Ab – A – A#/Bb – B – C.</b>
    <br/> No matter what pitch you start on, the pattern will repeat itself, and each note is one fret apart.
    It's not that hard to memorise the chromatic scele. Letters are in order. There are sharps and flats in the middle.
    Just remember one thing, after a particular single note, there is a sharp of that particular note and just before that particular
    note has the flat of it. # referes to sharp and b refers to flat. You can see that at the left diagram.
</p>
<p class="notecontinued">Pick a note—any note—and play it. Assume you're playing a note on the low E string's third fret. That's a G, according to the chart we just looked at. So, what would the sixth fret note be? If you know the chromatic scale, you'll realize that an A#/Bb is three notes above a G.
    It's simple since each note is one fret apart—the sixth fret on the bottom E string is A#/Bb. Knowing the guitar fretboard will be second nature once you've memorized the chromatic scale.
    <br/>
    <br/>
    The "#" stands for "sharp." You pronounce A# as A sharp when you see it.
    <br/>
    The "b" stands for "flat." You pronounce Ab as A flat when you see it.
    <br/>
    <br/>
    Let's talk about the <b>Octave.</b> A note with the same letter name as another is called a 'octave.' The main distinction is that the pitch is one octave higher in this case (or lower, depending on where you start).

    Consider the following scenario. Play a D string that is open. Now play the note on the D string's twelfth fret. Both of them are D notes, as you can see from our fretboard diagram—the one on the twelfth fret only has a higher pitch.
    <br/>
    <br/>
    Let's have a look at the musical alphabet with all sharps once more:
    <br/>
    <b>A, A#, B, C, C#, D, D#, E, F, F#, G, G#, A ...</b>
    <br/>
    <br/>
    Have you ever noticed how there are no sharps or flats between B and C, or E and F?
    <br/>
    There is no note between B and C in music.

    Only in certain circumstances are there no flats or sharps that can be applied to notes. B#, on the other hand, is essentially C. C should never be referred to as Cb/B#.

</p>
<h1 class="whynote">Why to Know About Fretboard?</h1>
<ol class="adofnotes">
    <li>Helps to know the chord construction. </li>
    <li> Helps in moving any chord up or down the neck. </li>
    <li>
        Helps to Transpose a song.
    </li>
    <li>Helps in chaning the Key of the song.</li>

    </li>
    <li>
        Improves in tune making skills.
    </li>
    <li>
        It open up creative and new possibilities.
    </li>
</ol>
</div>
</body>
</html>