<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="intermediate-lesson-part-inside">3</div>
    <h1 class="intermediatemajorheading">Fingerpicking / Fingerstyle</h1>
    <p>Fingerpicking guitar (also known as fingerstyle) is a method in which the strings are played using the fingers of the picking hand. There is no need of a pick. The thumb, index, middle, and ring fingers, as well as the pinky finger, are employed on the picking hand. These fingers are traditionally lettered <b> p, I m, and a.</b> The thumb is represented by the letter p, the index finger by the letter I the middle finger by the letter m, and the ring finger by the letter a. The origins of these abbreviations may be traced back to the Spanish language (pulgar, index, medium, and anular).

        Fingerstyle guitar is a broad word that encompasses a variety of genres ranging from country to classical to latin.

        <br/>
        We don't strum the whole chord rathen pluck the strings in this method. If you fingerstyle in front of a listener, he/she gets impressed as it sounds
        so melodies when the each strings are plicked correspondingly.

        <br/>
        <br/>

        <b> Here, We will play two melody by using fingerpicking method. One will be simple and another will be complex. After being master to it, you can
            change the chords and change the patters of plucking the strings and achieve mastery in it.
        </b>
    </p>
    <img class="" src="../static/Image/B minor picking.jpg"
         th:src="@{Image/B minor picking.jpg}" alt="" height="300" width="300"/>
    <img class="" src="../static/Image/G chord.jpg"
         th:src="@{Image/G chord.jpg}" alt="" height="290" width="255"/>

    <p class="fingerpickingpara1"> These are the chords from the Chord Chart that we saw in Beginner Level. The first chord is <b>B minor.</b> The second chord is <b> G chord.</b>
        We have one more chord i.e A major chord. Just shift G chord 2 fret downwards and you will get the <b>A chord. 5th fret G chord and 7th fret A chord.</b>
        <br/>
        <br/>
        Now what you need to do is practice this chords and learn it. <b>I would now suggest you to learn more chords from that chart.</b>
        <br/>
        <br/>
        After learning it, follow this fingerpicking pattern:

        <b>4-3-2-1 </b>
        <br/>
        <br/>
        These are the name of the strings that you should pluck. First, in B minor make the shape as in shown above and pluck the 4th string and 3rd string and 2nd string and 1st string one by one.
        First do it slowly and then increase the pace. Follow the same pattern for the G and A chord. You will experience a beautiful melody.<b> Practice and Impress your listener!</b>
    </p>
    <div class="Fingerpicking2nd">
        <img class="" src="../static/Image/first song tab 3.jpg"
             th:src="@{Image/D minor pick.jpg}" alt="" height="300" width="250"/>
        <img class="" src="../static/Image/Fingerpick D chord.jpg"
             th:src="@{Image/Fingerpick D chord.jpg}" alt="" height="295" width="250"/>
        <img class="" src="../static/Image/fingerpick G chord.jpg"
             th:src="@{Image/fingerpick G chord.jpg}" alt="" height="295" width="255"/>

        <p>
            These all chords are the major chords. I hope you recognized them. The first chord is <b>D minor.</b> The second chord is <b> G chord.</b>. The third Chord
            is<b> D major chord</b>.
            We have one more chord i.e A major chord. Just shift G chord 2 fret downwards and you will get the <b>A chord. 2th fret G chord and 4th fret A chord.</b>
            <br/>
            <br/>
            Now let's understand how to play it. Follow this fingerpicking pattern:
            <br/>
            <br/>

        </p>
    </div>
</div>
</body>
</html>