<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="intermediate-lesson-part-inside">5</div>
    <h1 class="intermediatemajorheading">Learn some songs</h1>
    <button class="startbeginnerlevel">
        <span> <a class="signuphome" href="#" th:form th:href="@{/advanceLevel}"> Advance Level - Let's start </a></span>
    </button>
    <p>
        <b>Congratulations!</b> You are now a good intermediate guitarist. I hope you are learning and liking the courses. Now that you have completed
        the intermediate level of this course, it's time to learn the songs.
        Now that you have completed all those lessons it't time to learn a song.
        I chose the iconic song <b>'My Heart Will Go On'</b> from the Iconic movie <b>Titanic.</b> I chose this because almost everyone knows this song.
        I will show you tabs and also the chords so that you can understand and practice both things. The chords are simple and basic. The strumming
        pattern for this song is same that I have mentioned in the last lessons. So, playing this would be no any trouble for you.
        <br/>
        The First 3 are the chords. When to shift the chords is given in the diagrams. Follow the strumming pattern DUUDUUD that I mentioned in the earlier
        lesson. And the tabs are pretty simple.<b> Practice this and impress your friends! </b>
    </p>
    <img class="firstsongchord" src="../static/Image/intermediate level song.jpg"
         th:src="@{Image/intermediate level song.jpg}" width="400" height="420" />
    <img class="firstsongchord" src="../static/Image/intermediate level song2.jpg"
         th:src="@{Image/intermediate level song2.jpg}" width="450" height="420" />
    <p class="countryroads">This song is one of the most popular songs out there. Because of it's popularity I chose this song. The song's name is
        Country Roads-Take Me Home- John Denver
        This song had a simple chords, but I change it to a little bit different Version.
        There are chords sheet in the left side. Make sure that you are using bar chords that were taught in the beginning lessons.
    </p>
    <b>The C7 chord is shown here: </b><img src="../static/Image/F7chord.jpg"
                                            th:src="@{Image/F7chord.jpg}" width="250" height="250" />

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <img class="firstsongchord" src="../static/Image/Time of your life.jpg"
         th:src="@{Image/Time of your life.jpg}" width="500" height="420" />
    <img class="firstsongchord" src="../static/Image/Time of your life2.jpg"
         th:src="@{Image/Time of your life2.jpg}" width="500" height="420" />
    <p class="timeofyourlife">You can strum the strings and play the whole song. The name of song is: <b>Greenday- Time of your life.</b> This is one of my favourite and first song that I learned and I recommend this to all the Fingerpicking learners.
        It's melody is so pleasant to hear. If you want to play it using fingerpicking pattern then the pattern is:
        <br/>
        <br/>
        <b> G chord:  6-3-2-3-4-3</b><br/>
        <b>Cadd9 chord:  5-3-2-3-4-3</b><br/>
        <b>D chord:  4-3-2-3-4-3</b> <br/>
        <img class="cadd9" src="../static/Image/C add 9 chord.jpg"
             th:src="@{Image/C add 9 chord.jpg}" width="200" height="200" />
        <br/>
        Cadd9 chord is simple. You know the G chord. Just move your index and middle finger to the 1 step low string. This will play Cadd9.
        The note that you play with middle finger on 6th string will shift to the 5th string and the note on the 5th string that you play with index finger will shift to 4th

    </p>

</div>
</body>
</html>