<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="lesson-part-inside">2</div>
    <h1 class="majorheading">Major/Minor Chords</h1>
    <p class="chordslearn">
        Before learning about the chords first lets learn the chord diagram.
        <br />
        A chord diagram displays which strings are being played, as well as
        which frets are being used and whose fingers are on each fret. The
        diagram is read from top to bottom. Your low E string is on the
        first line, and your high E string is on the last. As though you're
        holding the guitar in front of your face, think about it. The x
        denotes muted strings, implying that it is not being played at all.
        The O, or top circles, denotes an open string, which signifies that
        no finger is on any fret on those strings, yet they are still being
        played. The numerals are on certain frets, however they do not
        indicate which fret is being played on. The numbers indicate which
        finger is on each fret: 1 represents the index finger, 2 represents
        the middle finger, 3 represents the ring finger, and 4 represents
        the pinky. By glancing at the box from top to bottom, you can figure
        out which fret it's on. The first box corresponds to the first fret,
    </p>
    <p class="chordslearn">
        There are a lot of chords in the right chart which are not important
        in this early stage. Only the first one is enough to learn. They are
        the basic Major Chords. The first row's first column chord is the
        very basic one which is easier to learn. In the beginner level
        learning that will be enough.
        <br />
        <b>
            Chords like Fminor, Gminor are hard. I would suggest not to panic
            and learn it a bit later
        </b>
    </p>
    <div class="chordslideshow">
        <img class="mySlides" src="../static/Image/C chord chart.jpg"
             th:src="@{Image/C chord chart.jpg}" />
        <img class="mySlides" src="../static/Image/D chord chart.jpg"
             th:src="@{Image/D chord chart.jpg}" />
        <img class="mySlides" src="../static/Image/E chord chart.jpg"
             th:src="@{Image/E chord chart.jpg}" />
        <img class="mySlides" src="../static/Image/F chord chart.jpg"
             th:src="@{Image/F chord chart.jpg}"/>
        <img class="mySlides" src="../static/Image/G chord chart.jpg"
             th:src="@{Image/G chord chart.jpg}" />
        <img class="mySlides" src="../static/Image/A chord chart.jpg"
             th:src="@{Image/A chord chart.jpg}" />
        <img class="mySlides" src="../static/Image/B chord chart.jpg"
             th:src="@{Image/B chord chart.jpg}" />
    </div>

    <button class="chordssleft" onclick="plusDivs(-1)">&#10094;</button>
    <button class="chordssright" onclick="plusDivs(+1)">&#10095;</button>

    <div class="minorchordslideshow">
        <img class="minorSlides" src="../static/Image/C minor chord.jpg"
             th:src="@{Image/C minor chord.jpg}"/>
        <img class="minorSlides" src="../static/Image/D minor chord.jpg"
             th:src="@{Image/D minor chord.jpg}" />
        <img class="minorSlides" src="../static/Image/E minor chor.jpg"
             th:src="@{Image/E minor chor.jpg}" />
        <img class="minorSlides" src="../static/Image/F minor chor.jpg"
             th:src="@{Image/F minor chor.jpg}" />
        <img class="minorSlides" src="../static/Image/G minor chor.jpg"
             th:src="@{Image/G minor chor.jpg}" />
        <img class="minorSlides" src="../static/Image/A minor chor.jpg"
             th:src="@{Image/A minor chor.jpg}" />
        <img class="minorSlides" src="../static/Image/B minor chor.jpg"
             th:src="@{Image/B minor chor.jpg}" />
    </div>

    <button class="minorchordssleft" onclick="plusDivsMinor(-1)">
        &#10094;
    </button>
    <button class="minorchordssright" onclick="plusDivsMinor(+1)">
        &#10095;
    </button>

    <h1 class="chordsheading2">Things to remember before joining.</h1>
    <ol class="waystolearnchords">
        <li>Begin slowly and aim for flawless form.</li>
        <li>Before you try to play the chord forms, memorize them.</li>
        <li>
            Keep your finger close to those little bars between frets but not
            directly on them.
        </li>
        <li>
            Play each note/string by itself. Make sure all the strings are producing
            sound.
        </li>
        <li>
            Practice sessions should be brief and frequent.
            <b>Slow and Steady Wins the race!</b>
        </li>
        <li>
            Pain in fingers or your fingers not reaching are normal in the learning
            period.
            <b>Dont Give Up!</b>
        </li>
    </ol>
</div>
</body>
</html>