<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="lesson-part-inside">5</div>

    <h1 class="majorheading">Learn some songs </h1>
    <button class="startbeginnerlevel">
        <span> <a class="signuphome" href="#" th:form th:href="@{/intermediateLevel}"> Intermediate Level - Let's start </a></span>
    </button>

    <p>
        <b>Congratulations!</b> You are now a good beginner guitarist. I hope you are following all those lessons and practicing them step wise step.
        Don't hurry and skip without being perfect. Don't get hurry to practice songs befor the lessons.
        Now that you have completed all those lessons it't time to learn a song.
        I chose the iconic song <b>'My Heart Will Go On'</b> from the Iconic movie <b>Titanic.</b> I chose this because almost everyone knows this song.
        I will show you tabs and also the chords so that you can understand and practice both things. The chords are simple and basic. The strumming
        pattern for this song is same that I have mentioned in the last lessons. So, playing this would be no any trouble for you.
        <br/>
        The First 3 are the chords. When to shift the chords is given in the diagrams. Follow the strumming pattern DUUDUUD that I mentioned in the earlier
        lesson. And the tabs are pretty simple.<b> Practice this and impress your friends! </b>
    </p>
    <br/>
    <br/>
    <h1 class="majorheading">Chords </h1>

    <img class="firstsongchord" src="../static/Image/first song chords.jpg"
         th:src="@{Image/first song chords.jpg}" width="300" height="400" />
    <img class="firstsongchord" src="../static/Image/first song chords2.jpg"
         th:src="@{Image/first song chords2.jpg}" width="350" height="400" />
    <img class="firstsongchord" src="../static/Image/first song chords3.jpg"
         th:src="@{Image/first song chords3.jpg}" width="350" height="400" />
    <br/>
    <br/>
    <br/>
    <h1 class="majorheading">Tabs </h1>
    <img src="../static/Image/first song tab.jpg"
         th:src="@{Image/first song tab.jpg}" width="390" height="320" />
    <img src="../static/Image/first song tab 2.jpg"
         th:src="@{Image/first song tab.jpg}" width="390" height="320" />
    <img src="../static/Image/first song tab 3.jpg"
         th:src="@{Image/first song tab.jpg}" width="390" height="320" />


</div>
</body>
</html>