<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="lessons">
    <div class="lessons-header">
        <div>Part 1</div>
        <div>Part 2</div>
        <div>Part 3</div>
        <div>Part 4</div>
        <div>Part 5</div>

    </div>
    <div class="lesson-indicator"></div>
    <div class="lesson-body">
        <div>
            <h1>Part 1</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem blanditiis cum deleniti dolor, eius eligendi expedita hic ipsum, itaque laboriosam officia praesentium reiciendis repudiandae rerum, ut velit veniam vitae?
            </p>

        </div>
        <div>
            <h1>Part 2</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem blanditiis cum deleniti dolor, eius eligendi expedita hic ipsum, itaque laboriosam officia praesentium reiciendis repudiandae rerum, ut velit veniam vitae?
            </p>

        </div>
        <div>
            <h1>Part 3</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem blanditiis cum deleniti dolor, eius eligendi expedita hic ipsum, itaque laboriosam officia praesentium reiciendis repudiandae rerum, ut velit veniam vitae?
            </p>

        </div>
        <div>
            <h1>Part 4</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem blanditiis cum deleniti dolor, eius eligendi expedita hic ipsum, itaque laboriosam officia praesentium reiciendis repudiandae rerum, ut velit veniam vitae?
            </p>

        </div>
        <div>
            <h1>Part 5</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem blanditiis cum deleniti dolor, eius eligendi expedita hic ipsum, itaque laboriosam officia praesentium reiciendis repudiandae rerum, ut velit veniam vitae?
            </p>

        </div>
    </div>
</div>
</body>
</html>