<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="level6">
<div>
    <div class="advance-lesson-part-inside">6</div>

    <h1 class="advancemajorheading">Try making a Song</h1>
    <button class="startbeginnerlevel">
        <span> <a class="signuphome" href="#" th:form th:href="@{/completed}"> Completed! Grab Certificate </a></span>
    </button>
    <p>One of the advantages of the guitars over the other instruments is that it is simple to play chords on it.

        You can play up to six notes at once on the guitar. You can produce up to 10 notes on the piano (that many fingers that you have), but it's difficult to play just three on the violin, and wind instruments could only play single note once at a time.



        This is wonderful news for guitarists since it implies that, like pianists, writing tunes on guitars is simple.I'll walk you through a basic step-by-step procedure for writing a song on guitar. Keep in mind that this is merely a "method" for beginners.

        It's not the only method to write a song on the guitar, especially when it comes to the sequence in which you do things. For example, you may start with the melody, then the lyrics, and finally the rhythm. Or you can write the lyrics first and then make the melody.


        The good news is that there is no one approach that is superior than another. The approach is just a way for you to express yourself creatively and organise it into a guitar tune.


        Whether you're creating a song on an electric or acoustic guitar, this process is the same.
        <br/>
        <b>Here are some of the my tips to you on How to come up with the song.</b>
    </p>
    <ol class="waystotranpose">
        <li>
            Select a tale to tell. Consider the environment and the characters. Though songs can be about anything, they are frequently used to tell extremely personal stories, so pay close attention to the characters: their motives, the acts they may take, and the repercussions of those actions.
        </li>
        <li>
            Select a key in which to play. The chords C, D, E, G, and A work nicely on the guitar. Certain keys have a tendency to generate specific feelings in listeners. Pick one that goes well with the tone of your narrative.
        </li>
        <li>
            Determine your key's harmonised chords. Chord progressions are written numerically (I-IV-V, for example), with each chord representing a degree in your key scale. The tonic chord, sometimes known as the "one," is always the key you've chosen to play in.
        </li>
        <li>
            Select the number of chords to use in your progression. Although two-chord progressions appear easy, they are restricted, therefore you may need to use some additional tactics and subtle playing to help your song standout apart. In popular music, three- to four-chord patterns are perhaps the most prevalent.
        </li>
        <li>
            A single chord progression may be used to perform a variety of songs. [11] As you play, sing or hum your words until you discover a tune that fits your tale.            </li>
        </li>
        <li>At, last focus on perfection. Change the lyrics if you want. You can add some musical phase in the intro or to the middle of the song. You can just search the google for anything that will allow you to make a masterpiece. These things will help you make your song brilliant.</li>


    </ol>

    <br/>
    <br/>
    <p> I also follow these things. You can also use the 7 swaras Sa, Re, Ga, Ma, Pa, Dha, Ni ( do re mi fa so la ti in western music)to make the melody. They are found in different ranges in the guitar. I want you to search about these swaras. For example, if you have come up with a melody and tune.
        Try finding its tab. You can make tab by navigating to those swara(notes) in the guitar because all the songs are bounded within that swaras. Match your melody and swaras. Then after finding tabs of your melody
        try finding relative chords of that note. Then, make a strumming pattern that could fit the emotion that you want to create. And then summarise all the things.
        |<b>This is the easy method to make the songs.</b>
        <br/>
        <br/>
        Many of us learn guitar because it helps in singing. So, I want to tell you one thing, never just only play the guitar, try singing and playing. This will make your vocal sound great after a particular time.
        In this course I have not covered all the topis but the important one in a simple way. I hope you all liked the course. I will you all the very best for the future and I truly hope that the course has opeend a new door
        to your life and I also believe that you will never stop learning the guitar and explore more and more of it.

    </p>
</div>
</body>
</html>