<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="level1">
<button class="next">
    <span> <a class="nextlesson" href="#" th:href="@{/nextLevelAdvance}"> Next-> </a></span>
</button>
<button class="back">
    <span> <a class="nextlesson" href="#" th:href="@{/backLevelAdvance}"> <-Back </a></span>
</button>
<div>
<div class="advance-lesson-part-inside">1</div>
<h1 class="advancemajorheading">Guitar Theory-Scales</h1>
<p>
    A guitar scale is a group of notes that go well together and may be
    used to compose music. Different guitar scales (for example, major,
    minor, and pentatonic) employ different note choices and alter the
    mood of music you may produce. Here are some samples of the various
    sorts of guitar scales you'll encounter: <b>Major Scale,</b>
    <b>Minor Scale,</b> <b>Pentatonic Scale, </b><b> Blues Scale,</b>
    <b>Modes.</b>
    <br />
    Guitar scales are used to compose music because they help you figure
    out what notes would sound well together. A scale can inform you
    which notes will likely work well together and can help you decide
    out what to play next if you're creating a solo for a tune. Take a
    look at the TAB below for the primary theme of Joe Satriani's Always
    With Me, Always With You to get a sense of how strong scales can be
    when producing music:
</p>
<br />
<br />
<h1 class="advancemajorheading">Guitar Scale to make Tabs</h1>

<img src="../static/Image/scaletab1.jpg"
     th:src="@{Image/scaletab1.jpg}" alt="" width="850" />
<img src="../static/Image/scaletab2.jpg"
     th:src="@{Image/scaletab2.jpg}" alt="" width="850" />
<img src="../static/Image/scaletab3.jpg"
     th:src="@{Image/scaletab3.jpg}" alt="" width="850" />
<br />
<br />
<br />
<br />

<p class="whyscale">
    Guitar scales are used to compose music because they help you figure
    out what notes would sound well together.Let's take a look at the
    TAB below for the primary theme of
    <b> Joe Satriani - Always With Me, Always With You.</b>
    <br />
    The melody above is a great example of what scales can be used for.
    How did Joe Satriani decide which notes to use and which notes to
    avoid in this melody? Why did he chose to play these notes instead
    of some of the ones in between? While Joe has a thorough grasp of
    music theory, the basic answer is that he wrote the tune using a
    scale. He could simply construct a song that works by keeping to a
    scale. If you look closely, you’ll see that every single note in
    that melody (apart from one sliding note) fits perfectly within the
    B Major Scale. In other words, Joe Satriani used the B Major Scale
    to write this melody.
</p>
<h1 class="advancemajorheading">Guitar Scale to find Chords</h1>
<p class="scalechords">
    Guitar scales may also be used to figure out which chords in a
    progression sound nice together. If you've created a three-chord
    progression and need to figure out what the fourth chord should be,
    you may use scales to help you out. Take a look at the highlighted
    notes in the C Major scale on the first three frets below:
</p>
<img src="../static/Image/C scale note.jpg"
     th:src="@{Image/C scale note.jpg}" alt="" width="300" />
<p class="scalechordscont">
    For example, you can observe how well the Am (A minor) chord form
    suits these notes: As a result, the chord Am is compatible with the
    C Major scale. What other chords do you think those notes contain?
    Here are some more open chords that may be used with the C Major
    scale:C (C Major), Dm (D Minor), Em (E Minor), F (F Major), G (G
    Major), Am (A Minor).
</p>
<h1 class="learnscales">How to Memorise Notes in Scale</h1>
<p class="formulascale">
    Memorizing the scale formula for each type of scale is one approach
    to remember the notes in a scale. Here's an example of how you may
    use a formula to learn the notes of a scale. The Major scale (the
    most popular type of scale used by guitarists) has the following
    formula:
    <b>W W H W W W H W. </b>The use of this formula is shown below: The
    first one is the notes in C-major scale and second one is of A-
    major scale. Similarly, we can find of others.
    <img src="../static/Image/Guitar Notes.jpg"
         th:src="@{Image/scalenoteC.jpg}" alt="" width="700" />
    <img src="../static/Image/Guitar Notes.jpg"
         th:src="@{Image/ScalenoteA.jpg}" alt="" width="700" />
</p>
</div>
</body>
</html>