<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
 <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="work.css" />

    <title>Document</title>
  </head>
  <body>
  <section class="briefing" id="briefing" th:fragment="briefing">
        <h1 class="breifingmainh">Why Guitarica? </h1>

    <div class="briefingcontainer" >
      <div class="div1">
<i class="fa-solid fa-1"></i><h2 class="briefingh2">Beginner Lesson</h2>
<p> Beginner Lesson has 5 levels that will teach you all the basic stuffs and will allow you to play any simple songs. From learning the
  basic guitar anatomy to the chords, strumming patterns, shifting and tabs all are covered here.
</p>

</div> 
 <div class="div2">
<i class="fa-solid fa-2"></i>
<h2 class="briefingh2">Intermediate Lesson</h2>
<p> Intermediate Lesson has 5 levels that will teach you all the Intermediate stuffs and will allow you to play Intermediate songs. From learning
  the fretboard to the Barre chords, fingerpicking / fingerstyling, learning intermeidate chords all are covered here.
</p>

</div> 
 <div class="div3">
<i class="fa-solid fa-3"></i>
<h2 class="briefingh2">Advance Lesson</h2>
<p> Advance Lesson has 6 levels that will teach you the Music and Guitar theory. These theories will help guitarist to make song,
  understand song, understand the arrangements of the song. Only learning chords and guitar basic in not enough. One should know the basic theories of
  guitar and music
</p>

</div>
      </div>
    </section>
  </body>
</html>
