<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="" th:href="@{/css/work.css}"/>

    <title> Change Password Form </title>
</head>
<body class="loginbody">

<form method="post" class="forgotForm" action="" th:action="@{/password-change}">
    <div class="forgotFormContainer">
        <h3 class=" text-center mt-4"> Enter Password </h3>
        <div class="form-group">

            <input name="newpassword" required ="required" type="text" class="form-control" placeholder="Enter new password here" aria-label="Username" aria-describedby="basic-addon1">

        </div>
        <div class="container text-center">
            <button class="btn btn-success "> Change Password

            </button>

        </div>
    </div>
</form>
</section>

</body>
</html>