<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i"
            rel="stylesheet"/>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="work.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="" th:href="@{/css/work.css}"/>
    <title th:text="${title}"> Title </title>
</head>
<body id="homeMain">

<main >
    <div>
        <ol class="content">
            <li class="content__item">
                <button class="button homeloginbutton"> <span> <a class="signuphome" href="#" th:href="@{/signin}"> LogIn </a></span></button>
            </li>
        </ol>
    </div>
    <section class="homepageSection">
        <img class="guitaricalogohome" width="100" src="../static/Image/guitarica.jpg"
             th:src="@{Image/guitarica.jpg}"/>
        <h1 class="homeheading">Welcome To Guitarica</h1>
        <p class="homeparagraph2">
            Join to the best course and explore the guitar world! 
        </p>
        <button class="homesignupbutton"> <span> <a class="signuphome" href="#" th:href="@{/signup}">Join Now! </a></span> </button>

    </section>

    </main>
<div class="navbar">
    <ul class="nav">
        <li><a class="navbara" href="#homeMain">Home</a></li>
        <li><a class="navbara" href="#reviews">Reviews</a></li>
        <li><a class="navbara" href="#briefing">About</a></li>
        <li><a class="navbara" href="#contactus">Contact</a></li>
    </ul>
</div>
<div th:replace="review :: reviews"></div>
<div th:replace="briefing :: briefing"></div>
<div th:replace="contactus :: contactus"></div>
<script src="" th:src="@{/js/work.js}"></script>

</body>

</html>