<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i"
            rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="" th:href="@{/css/work.css}"/>
    <title th:text="${title}"> Title </title>
</head>
<body class="main-body">
<nav class="menu-activea">
    <h1>MENU</h1>
    <ul>
        <li>HOME</li>
        <li>COURSES</li>
        <li>TUNER</li>
        <li>SERVICES</li>
        <li>ABOUT</li>
        <li>LOGIn</li>
        <li>FAQ</li>
    </ul>
</nav>
<main>
    <section class="homepageSection">
        <h1 class="homeheading">Welcome To Guitarica</h1>
        <p class="homeparagraph">
            Learn To Grow
        </p>
        <p class="homeparagraph2">
            Join to the best course and explore the guitar world! 
        </p>
        <button class="homebutton" href="#"  > <span> <a href="#" th:href="@{/signup}">Join Now! </a></span> </button>
    </section>
    </main>
<script src="" th:src="@{/js/work.js}"></script>
</body>

</html>