<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="" th:href="@{/css/work.css}"/>

    <title th:text="${title}"> Title </title>
</head>
<body class="loginbody">
<section>
    <div>
        <img class="guitaricalogo" src="../static/Image/guitarica.jpg" width="100"
             th:src="@{Image/guitarica.jpg}"/>
    </div>
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username and password
    </div>

    <div th:if="${param.logout}" class="alert alert-success">
        You have been log out
    </div>

    <div th:if="${param.changed}" class="alert alert-success">
        <p th:text="${param.changed}"> </p>
    </div>
    <form class="login" th:action="@{/login}" method="post">
        <label class="loginlabel">
            <input class="loginInput" name="email" type="text" placeholder="Username...">
        </label>
        <label class="loginlabel">
            <input class="loginInput" name="password" type="password" placeholder="Password...">
        </label>
        <div class="loginpagebuttons">
            <button type="submit" value="Login"><a>Login</a></button>
        <button><a th:href="@{/signup}">Signup</a></button>
        </div>

        <div class="forgotpassworddiv" >
            <a class="forgotpasswordlink" th:href="@{/forgot}"> Forgot Password?</a>
        </div>

    </form>
</section>

</body>
</html>