<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GeeksforGeeks</title>
</head>
<body>

<h1 style="color:forestgreen" th:text="${response.course_id}">attributeValue will be placed here</h1>
<h1 style="color:forestgreen" th:text="${response.sub_level}">attributeValue will be placed here</h1>
<h1 style="color:forestgreen" th:text="${response.status}">attributeValue will be placed here</h1>

<h2 style="color:forestgreen; width : 350px" th:text="${headers}">attributeValue will be placed here</h2>

</body>
</html>